<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Produto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
        <%= form_for Produto.new do |form| %> 
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <%= form.label :name %>
                        <%= form.text_field :name, class:"form-control" %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <%= form.label :description %>
                        <%= form.text_area :description, class:"form-control", rows:4 %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <%= form.label :price %>
                        <%= form.number_field :price, step:0.01, class:"form-control" %>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <%= form.label :amount %>
                        <%= form.number_field :amount, class:"form-control" %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <%= form.submit "Criar", class:"btn btn-primary" %> 
                </div>
            </div>
        <% end %>
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
